[Unit]
Description=a discord bot (2)
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/home/$USER/A09F
ExecStart=/usr/bin/python3 bot.py
User=wesley
Restart=always
RestartSec=5
